Source: rust-pmg-log-tracker
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11),
 dh-cargo (>= 18),
 cargo:native,
 rustc:native,
 libstd-rust-dev,
 librust-clap-2+default-dev (>= 2.32.0-~~),
 librust-failure-0.1+default-dev (>= 0.1.5-~~),
 librust-flate2-1+default-dev (>= 1.0.6-~~),
 librust-libc-0.2+default-dev (>= 0.2.48-~~),
 librust-time-0.1+default-dev (>= 0.1.42-~~)
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.4.1
Vcs-Git: git://git.proxmox.com/git/pmg-log-tracker.git
Vcs-Browser: https://git.proxmox.com/?p=pmg-log-tracker.git;a=summary
Homepage: http://www.proxmox.com

Package: pmg-log-tracker
Architecture: any
Multi-Arch: allowed
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${cargo:Depends}
Recommends:
 ${cargo:Recommends}
Suggests:
 ${cargo:Suggests}
Provides:
 ${cargo:Provides}
Built-Using: ${cargo:Built-Using}
XB-X-Cargo-Built-Using: ${cargo:X-Cargo-Built-Using}
Description: Proxmox Mailgateway Log Tracker
 Tool to scan mail logs.
 .
 This package contains the following binaries built from the Rust crate
 "pmg-log-tracker":
  - pmg-log-tracker
